[Unit]
Description=uWSGI server for recofish
After=network.target

[Service]
WorkingDirectory=/opt/recofish-demoapp
ExecStart=/usr/bin/uwsgi /opt/recofish-demoapp/uwsgi.ini
Restart=always
KillMode=process
TimeoutSec=30

[Install]
WantedBy=multi-user.target
