{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div id="div_capture">
    <div id="sideHeader">
        <div id="sideHeaderLeft">
            <div id="nbObjects"></div>
            <label>
                <i class="material-icons" id="geoTrackToggle" onclick="setGeoTrack()">my_location</i>
            </label>
            <label style='display:inline-block;'>
                &nbsp;AutoSel
                <input type="checkbox" id="autoSelect" name="autoSelect" value="false">
            </label>
            <label style='display:inline-block;'>
                &nbsp;Visible only
                <input type="checkbox" id="visibleOnly" name="visibleOnly" value="false" onchange="filterMarkersAndTable()">
            </label>
        </div>
        <div id="sideHeaderRight">
            <div id='div_category'>
                <label id="labelCategory" style="white-space: nowrap; width:100px;">Cat. :</label>
            </div>
            <!--<div id='div_status'>
                <label id="labelStatus" style="white-space: nowrap; width:100px;">Cat. :</label>
            </div>-->
            <div id='div_zone'>
                <label id="labelArea" style="white-space: nowrap; width:100px;">Zone :</label>
            </div>
            <!-- <button type='button' class='btnAction' onclick="window.location.href='./index.html';">Home</button> -->
            <button type='button' class='btnAction' id='addObjButton' onclick='setAddEditObjectMode(0)'>Ajout.<br>objet</button>
        </div>
    </div>
    <div id="sideContent">
        <input type="text" id="inputSearch" onkeyup="setFilter()" placeholder="Tape...">
    </div>
</div>
                            <input type='file' style='display:none;' name='image1' id='select_image1' onChange='callProcessImage(this, "Img1", "DateTimeObs");' />
                        </div>

                        <div id="Image2" style='display:inline-block;'>
                            <label for='select_image2' style="width:250px;">
                                <img height=150 style='max-width: 250px;' id="Img2" src="/static/images/_logo.jpg" />
                            </label>
                            <input type='file' style='display:none;' name='image2' id='select_image2' onChange='callProcessImage(this, "Img2", "DateTimeObs");' />
                        </div>
                    </div>
                </div>

                <div id="Locations" class="tabcontent">
                    <div id="location">
                        <table>
                            <tr>
                                <td rowspan="2">
                                    <div class="grid-container">
                                        <div><img src="/static/icones/arrow-up-left.svg" width="32" height="32" onclick='xxcLxx(1, -1)'></div>
                                        <div><img src="/static/icones/arrow-up.svg" width="32" height="32" onclick='xxcLxx(1, 0)'></div>
                                        <div><img src="/static/icones/arrow-up-right.svg" width="32" height="32" onclick='xxcLxx(1, 1)'></div>
                                        <div><img src="/static/icones/arrow-left.svg" width="32" height="32" onclick='xxcLxx(0, -1)'></div>
                                        <div><img src="/static/icones/geo.svg" width="32" height="32" onclick='setCurCoord()'></div>
                                        <div><img src="/static/icones/arrow-right.svg" width="32" height="32" onclick='xxcLxx(0, 1)'></div>
                                        <div><img src="/static/icones/arrow-down-left.svg" width="32" height="32" onclick='xxcLxx(-1, -1)'></div>
                                        <div><img src="/static/icones/arrow-down.svg" width="32" height="32" onclick='xxcLxx(-1, 0)'></div>
                                        <div><img src="/static/icones/arrow-down-right.svg" width="32" height="32" onclick='xxcLxx(-1, 1)'></div>
                                    </div>

                                </td>
                                <td width="100%">
                                    <label id="labelZone" style="white-space: nowrap; width:200px;">Zone :&nbsp;</label>
                                </td>
                            <tr>
                                <td>
                                    <label style="white-space: nowrap;">
                                        Lat. :&nbsp;
                                        <input type='number' class='number n7' id='latitude' name='lat' min='-90.0' max='90.0' step='any' onchange='moveCurObjMarker()'>
                                    </label>
                                    <label style="white-space: nowrap;">
                                        Lng. :&nbsp;
                                        <input type='number' class='number n7' id='longitude' name='long' min='-180.0' max='180.0' step='any' onchange='moveCurObjMarker()'>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="snackbar"></div>

</div>
<div id="div_types">
    <div id='div_upper' style='height:70%;width:100%'>
        <div id='div_left'>
            <div id='header'><div id='nbTypes'></div></div>
            <div id="div_types_2"><table id="typeTable"></table></div>
        </div>
        <div id='div_right'>
            <iframe id='resource' src="https://fr.wikipedia.org/" title="resource" style="border:none; height:100%; width:100%; "></iframe>
        </div>
    </div>
    <div id='div_lower'>
        <div id="div_addType">
            <form id="form-type" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td style='vertical-align: top;'>
                            <div id="Tidentification">
                                <div style='height:80px; float:left;'>
                                    <button type='button' class='btnAction' style='margin: 4px auto;' onclick='selectPrevNextVisibleItem(typeTable, typeTablecurRowIdx, true, true)'>&gt;</button>
                                    <button type='button' class='btnAction' style='margin: 4px auto;' onclick='selectPrevNextVisibleItem(typeTable, typeTablecurRowIdx, false, true)'>&lt;</button>
                                    <button type='button' class='btnAction' style='margin: 4px auto;' onclick='setAddEditTypeMode(0)'>Nouveau</button>
                                </div>
                                <input type='hidden' name='action0' id='TAction0'>
                                <input type='hidden' name='level' id='Level'>
                                <input type='hidden' name='objId' id='TypeID'>
                                <input type='text' name='image' id='TImage' autofocus>
                                <input type='text' name='name' id='TName' autofocus>
                                <label>
                                    est un(e)&nbsp;&nbsp;
                                    <input type='text' class='nomenclature' name='nomenclature' id='Nomenclature'>
                                </label>
                                de la famille des &nbsp; <div id="type2"></div>
                                <div style='height:80px;'>
                                    <button type='button' class='btnAction' style='margin: 4px auto;' onclick='cancelAddEditType()'>Annuler</button>
                                    <input type="submit" style='margin: 4px auto;' id="addTypeBtn" value="SUBMIT" class="btnAction" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <label for='TDescr'>Description</label><br>
                            <textarea name='descr' id='TDescr' cols='50' rows='2'></textarea>
                            <br><label for='Habitat'>Habitat</label><br>
                            <textarea name='habit' id='Habitat' cols='50' rows='2'></textarea>
                            <br><label for='Alimentation'>Alimentation</label><br>
                            <textarea name='alim' id='Alimentation' cols='50' rows='2'></textarea>
                            <br><label for='Reproduction'>Reproduction</label><br>
                            <textarea name='repro' id='Reproduction' cols='50' rows='2'></textarea>
                            <div>
                                Floraison
                                <label>
                                    de&nbsp;&nbsp;
                                    <input type='text' class="number" name='flodebut' id='FloDebut' size='3' value='0'>
                                </label>
                                <label>
                                    à&nbsp;&nbsp;
                                    <input type='text' class="number" name='flofin' id='FloFin' size='3' value='0'>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

<script src="/static/scripts/long-press-event.min.js"></script>
<script src="/static/scripts/gis2.js"></script>
<script src="/static/scripts/tools.js"></script>
<script src="/static/scripts/images.js"></script>
<script src="/static/scripts/Types2.js"></script>
<script src="/static/scripts/Entities2.js"></script>
<script src="/static/scripts/rest_py.js"></script>
<script src="/static/scripts/loadObjects.js"></script>
<script src="/static/scripts/objState.js"></script>

<title>Les Roches en carte</title>

<script>
    let fsOn, curFirstID, curObj, curState, lastMode;

    function setFilter() {
        filter = inputSearch.value.toUpperCase();
        filterMarkersAndTable();
    }

    //IMPROVE : AJouter filter sur CurStatus TOus / Vivants (1 ou 2) / Malades (1) / Morts (0)
    function setStatus() {
        // status = Status.Value; // pas celui d'ObjectAction, celui du filtre
        filterMarkersAndTable();
    }

    function selectObj(objID) {
        curObj = geoObjects.find(elem => elem.ID == objID);
        geoTablecurRowIdx = curObj.row.rowIndex;
        // curObj.row.scrollIntoView();
        animateMarker(curObj.marker);
        buildDetailTable([curObj.ID]);
        if (SyncWithType.value) {
            curType = types_1[3].find(e => e.ID === curObj.Type);
            populateAddEditTypeDiv(curType);
        }
    }

    function callProcessImage(fileInput, previewID, datetimeID) {
        processSingleImage(fileInput, previewID, useFileName.checked ? datetimeID : null);
    }

    function xxcLxx(sensLat, sensLng) {
        if (sensLat != 0) {
            latitude.value = parseFloat(latitude.value) + sensLat * stepLat * stepFactor;
        }
        if (sensLng != 0) {
            longitude.value = parseFloat(longitude.value) + sensLng * stepLng * stepFactor;
        }
        moveCurObjMarker();
    }

    function setCurCoord() {
        latitude.value = Math.floor(map.getCenter().lat() / stepLat) * stepLat;
        longitude.value = Math.floor(map.getCenter().lng() / stepLng) * stepLng;
        moveCurObjMarker();
    }

    function moveCurObjMarker() {
        curObj.marker.setPosition({ lat: parseFloat(latitude.value), lng: parseFloat(longitude.value) });
        curObj.marker.setVisible(true);
        curObj.marker.setAnimation(google.maps.Animation.BOUNCE);
        map.setCenter(curObj.marker.getPosition());
    }

    function setNewState() {
        if (NewState.checked) {
            DateTimeObs.value = new Date().toISOString().substr(0, 16); // OR d.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
            Action1.value = 0;
            ActionID.value = 0;
        } else {
            DateTimeObs.value = curObj.Timestamp.toString().replace(" ", "T").slice(0, 16);
            Action1.value = 1;
            ActionID.value = curObj.curState;
        }
    }

    function setNewSession() {
        let label = prompt("Nom de la session", TypeAction.options[TypeAction.selectedIndex].text);
        var formData = new FormData(form);
        formData.append('kind', 'Session');
        formData.append("type", parseInt(TypeAction.value));
        formData.append("description", label);
        formData.append("action", "add");
        formData.set("session", -1);
        formData.append("actor", 0);
        formData.append("datetime", DateTimeObs.value);

        let items = [];
        formData.append('items', JSON.stringify(items));

        addDataFromForm(formData, function (res) {
            popSnackbar(JSON.stringify(res));
            if (res && res.result == 'OK') {
                Session.add(sessions.createOption({ ID: res['SessionID'], Label: label }));
                Session.value = res['SessionID'];
            }
        });
    }

    function appendLocation(location = null) {
        var gCoord;
        if (location) {
            gCoord = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
        }

        if (curPosMarker)
            curPosMarker.setPosition(gCoord);

        // In case it changed since last location update
        if (useLocation) { // on re-trie / filtre la table
            map.setCenter(gCoord);
            updateGeoTableAndFirstID(map.getCenter().lat(), map.getCenter().lng());
        }
    }

    function updateGeoTableAndFirstID(lat, lng) {
        var firstID = updateGeoTable(lat, lng);
        if (firstID != curFirstID) {
            if (autoSelect.checked) {
                selectObj(firstID);
            }
            curFirstID = firstID;
        }
    }

    // mode : 0 = Add, 1 = Edit
    function setAddEditObjectMode(mode, lat = map.getCenter().lat(), lng = map.getCenter().lng()) {
        // On stoppe le tri auto de la table (donc le autoselect) pour économiser la CPU
        // autoSelect.checked = false;
        lastMode = useLocation;
        useLocation = false;

        div_Image.style.display = "block"; //
        newState.style.display = "block"; // default
        switch (mode) {
            case 0: // Add new Obj + new Obs
                curObj = createObjState(lat, lng);
            case 3: // Idem but from duplication of CurObj
                if (!curObj) curObj = duplicateObjState(curObj);// Add new Obj + new Obs;
                newObjectMarker.setPosition(new google.maps.LatLng(curObj.Lat, curObj.Lng));
                curObj.marker = newObjectMarker;
                addSessionBtn.value = "Ajout.\nObj.";
                Action0.value = 0;
                Action1.value = 0;
                NewState.checked = true; // par sécurité (redondant avec ligne précédente)
                UpdateImage.checked = true;
                div_Image.style.display = "none"; // pas encore définie
                newState.style.display = "none"; // ne peut etre décochée donc autant la cacher
                DateTimeObs.value = curObj.Timestamp.toISOString().slice(0, 16);
                populateAddEditObjectDiv(curObj);
                ObjectButton.click(); // start with Object
                Name.focus();
                break;
            case 1: // Edit curObj
                addSessionBtn.value = "Enreg.\nObj.";
                Action0.value = 1;
                Action1.value = 1;
                DateTimeObs.value = curObj.Timestamp.toString().replace(" ", "T").slice(0, 16);
                populateAddEditObjectDiv(curObj);
                ObjectButton.click();
                break;
            case 2: // AddObservation to curObj : A MODIFIER AVANT D'ACTIVER !!
                curObj.Timestamp = new Date();
                addSessionBtn.value = "Ajout.\nObs.";
                Action0.value = -1;
                Action1.value = 0;
                NewState.checked = true;
                DateTimeObs.value = curObj.Timestamp.toISOString().slice(0, 16);
                populateAddEditObjectDiv(curObj);
                StateButton.click();
                break;
        }
        // On adapte le layout
        setBottomHeight(0.5);
        setMapWidth(1);
        //  document.getElementById('TDObj').style.display = (mode==2?"none":"initial");
        div_detail.style.display = "none";
        div_addObject.style.display = "block";
        div_addObject.scrollIntoView();
    }

    function populateAddEditObjectDiv(obj) {

        // On copie les valeurs de l'objet (nouveau ou à editer) dans les champs du formulaire
        ObjID.value = obj.ID;
        Name.value = obj.Label;
        N.value = obj.N;
        ObjT3.value = obj.Type; //.toString();
        Provider.value = obj.Provider;
        Date_Impl.value = obj.Date_Implantation;
        Harvestable.value = (obj.NbRecoltes > -1);
        Descr.value = obj.Description;
        Img0.src = "/static/images/" + (obj.Image || "_logo.jpg");

        ActionID.value = obj.CurState;
        TypeAction.value = obj.TypeAction;
        Session.value = obj.Session;
        Comment.value = obj.Comment || "";
        Nb.value = obj.Nb;
        Amount.value = obj.Mass;
        Price.value = obj.Price;

        Zone.value = obj.Zone;
        latitude.value = Math.floor(obj.Lat / stepLat) * stepLat;
        longitude.value = Math.floor(obj.Lng / stepLng) * stepLng;
        Status.value = obj.Status || 2;
        SizeX.value = obj.SizeX || "";
        SizeY.value = obj.SizeY || "";
        SizeZ.value = obj.SizeZ || "";
        Img1.src = "/static/images/" + (obj.Image1 ? obj.TypeAction + "/" + obj.Image1 : "_logo.jpg");
        Img2.src = "/static/images/" + (obj.Image2 ? obj.TypeAction + "/" + obj.Image2 : "_logo.jpg");
    }

    function setBottomHeight(share) {
        div_bottom.style.height = share * 100 + "%";
        div_top.style.height = (1 - share) * 100 + "%";
    }

    function setObjectDivWidth(share, tableShare = 0) {
        div_objects.style.width = share * 100 + "%";
        // alert(div_types.style.width);
        setLeftWidth(tableShare);
        // div_objects.style.width = (1-share) * 100 + "%";
    }

    function setMapWidth(share) {
        div_map.style.width = share * 100 + "%";
        div_capture.style.width = (1 - share) * 100 + "%";
    }

    function cancelAddEditObject() {
        if (curObj.marker === newObjectMarker) newObjectMarker.setPosition(null);
        showDetailDiv();
    }

    function showDetailDiv() {
        div_detail.style.display = "block";
        div_addObject.style.display = "none";
        setBottomHeight(0.3);
    }

</script>

<script>

    //document.addEventListener('keydown', logKey);
    // document.onkeydown = function logKey(e) {
    //   if(e.code==="Escape") toggleFullscreen(true);
    // };

    ////////////////////////////////////////////////////////////////// TYPES
    let curType, typeTablecurRowIdx;

    var frame = document.getElementById('resource');

    /////////////////////////////////////////////////////////////////// END TYPES
    var zones;
    getDataFromDB({ 'item': 'Zones' }, function (res) {
        zones = new LREntities(res);
        labelZone.appendChild(zones.createSelector("narrow", "zone", "Zone"));
        labelArea.appendChild(zones.createSelector("narrow", "zone", "Area", function () { zone = Area.value; filterMarkersAndTable(); }, null, false));
    });

    var providers;
    getDataFromDB({ 'item': 'Providers' }, function (res) {
        providers = new LREntities(res);
        labelProvider.appendChild(providers.createSelector("narrow", "provider", "Provider"));
    });

    var statuses;
    getDataFromDB({ 'item': 'Status' }, function (res) {
        statuses = new LREntities(res);
        labelStatus.appendChild(statuses.createSelector("narrow", "status", "Status"));
    });

    var categories;
    getDataFromDB({ 'item': 'Categories' }, function (res) {
        categories = new LREntities(res);
        labelCategory.appendChild(categories.createSelector("narrow", "category", "Category"));
        Category.onchange = function () { category = Category.value; filterMarkersAndTable(); };
    });

    var sessions;
    getDataFromDB({ 'item': 'OpenSessions' }, function (res) {
        sessions = new LREntities(res);
        labelSession.appendChild(sessions.createSelector("narrow", "session", "Session", null, null, false));
    });

    var tActions;
    getDataFromDB({ 'item': 'TypesActions' }, function (res) {
        tActions = new LREntities(res);
        let sel = tActions.createSelector("narrow", "type", "TypeAction");
        sel.onchange = function () {
            switch (this.value) {
                case "5": // Achat-Don
                    Zone.value = "150"; //Parking = livraisons
                    latitude.value = 43.985767;
                    longitude.value = 2.986661;
                    break;
            }
        };
        labelTypeAction.appendChild(sel);
        TypeAction.value = sessionStorage.getItem("fdr-type");
    });

    document.addEventListener('dbLoaded', function (e) {
        objectsLoaded();
    });

    function objectsLoaded() {
        createTypeSelectors("header", createTypeTable);
        createTypeSelector("type2", 2, "detail");
        createTypeTable(false);
        createTypeSelector("type3", 3, "Obj");
        sideContent.appendChild(createMarkersAndTable());
    }
    function createMarkersAndTable() {
        geoTable = document.createElement("TABLE");
        geoTable.classList.add("table-striped");
        geoTable.id = "geoTable";
        geoObjects.forEach(createMarkerAndRow);
        sortGeoTable();
        return geoTable;
    }

    function createMarkerAndRow(item) {
        const t3 = types.getType(item.Type, 3);
        item.row = createGeoRow(item, t3);
        item.marker = updateMarker(item, t3);
        showHideMarkerAndRow(item);
    }
    //
    function showHideMarkerAndRow(item) {
        //  const t0 = types.getType(item.Type, 3, 0).ID; // on suppose que la comparaison est + rapide en string
        const nom = types.getType(item.Type, 3).Nomenclature;
        const t0 = types.getType(item.Type, 3, 0).ID.toString();
        const keep = (item.Label.toUpperCase().indexOf(filter) > -1 || nom.toUpperCase().indexOf(filter) > -1)
            //    && (cat===-1 || (t0<(cat+1)*10 && t0>=cat*10))
            && (category == -1 || t0.substring(0, 1) === category)
            && (status == -1 || status === item.CurStatus || (status == 3 && item.CurStatus > 0))
            && (item.Zone === null || item.Zone.startsWith(zone))
            && (item.Lat === null || !visibleOnly.checked || bounds.contains(new google.maps.LatLng(item.Lat, item.Lng)))
            && isTxSelected(item.Type, 3);
        item.marker && item.marker.setVisible(keep);
        item.row && (item.row.style.display = keep ? "" : "none");
    }

    function filterMarkersAndTable() {
        geoObjects.forEach(function (item) {
            showHideMarkerAndRow(item);
        });
    }

    //IMPROVE : deal with the case there is NO row visible
    function selectPrevNextVisibleItem(t, i, next, typeMode) {
        if (t.rows.length === 0) return;
        let tr;
        do {
            i = next ? (i == t.rows.length - 1 ? 0 : i + 1) : (i == 0 ? t.rows.length - 1 : i - 1);
            tr = t.rows[i];
        } while (tr.id == '' || tr.style.display == 'none');
        if (typeMode) {
            selectType(tr);
            populateAddEditTypeDiv(curType);
        } else {
            selectObj(tr.id);
            populateAddEditObjectDiv(curObj);
        }
    }


    /////////////////////////////////////////////////////////////////////////////// INITIALIZATION
    let watchId = null;
    // check if mobile device
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        setObjectDivWidth(1);
    } else {
        setObjectDivWidth(0.67);
    }
    if (window.location.host.charAt(0) == '1' || window.location.host.charAt(0) == 'l') { // Adresse locale en 192.168 ou "localhost"
        setGeoTrack(false);
    } else { // "fleursderoches.xxxxx.yyy"
        setGeoTrack(true);
    }

    var form = document.getElementById('form-with-image');
    form.onsubmit = function (event) {
        event.preventDefault();
        var formData = new FormData(form);
        formData.append('kind', 'ObjectState');
        formData.append('TypeA', types.getType(parseInt(ObjT3.value), 3, 2).IDA);

        addDataFromForm(formData, function (res) {
            popSnackbar(JSON.stringify(res));
            if (res && res.ActionID) {
                updateLocalObjStateAndUI(res);
                cancelAddEditObject();
                resetLayout();
            }
        });
    }

    ////////////////////////////////////////////////////////////////// TYPES
    var formT = document.getElementById('form-type');
    formT.onsubmit = function (event) {
        event.preventDefault();
        TAction0.value = curType.ID > 0 ? 1 : 0;
        var formData = new FormData(formT);
        formData.append('kind', 'Type');
        //formData.append('level', Level.value); // Type2...

        // formData.append('page', resource.contentWindow.location.href);
        formData.append('page', frame.src);

        addDataFromForm(formData, function (res) {
            popSnackbar(JSON.stringify(res));
            if (res && res.Status) {
                updateLocalTypeAndUI(res);

                types.addType(curType, 3);

                const text = formData.get("nomenclature") + ' | ' + formData.get("name");
                ObjT3.add(createOption(res.ObjID, text));
                ObjT3.value = res.ObjID;
            }
        });
    }

    // Si la MAJ de la db est OK, on reporte les modifs en mémoire (évite de refaire le SELECT)
    // IMPROVE : champs d'imputs : obj['ID'], state['Lat'] + options[0] pour updteIMage / newState...
    function updateLocalObjStateAndUI(res) {
        switch (Action0.value) {
            case "0":
                curObj.ID = res['ObjID'];
                setMarkerObj(curObj.marker, curObj);
                curObj.marker.addListener('click', function () {
                    geoTablecurRowIdx = curObj.row.rowIndex;
                    animateMarker(curObj.marker); // IMPROVE: target?
                    buildDetailTable(array(curObj.ID));
                });
                geoObjects.push(curObj);
            case "1":
                curObj.Label = Name.value;
                curObj.N = N.value;
                curObj.Type = parseInt(ObjT3.value);
                curObj.TypeA = ObjT3.id;
                curObj.Provider = Provider.value;
                curObj.Date_Implantation = Date_Impl.value;
                curObj.NbRecoltes = Harvestable.value ? 0 : -1;
                curObj.Description = Descr.value;
                if (UpdateImage.checked) {
                    curObj.Image = res['Image'];
                }
        }
        switch (Action1.value) {
            case "0":
                curObj.CurState = res['ActionID'];
            case "1":
                curObj.Status = Status.value;
                curObj.TypeAction = TypeAction.value;
                curObj.Session = Session.value;
                curObj.Nb = Nb.value;
                curObj.SizeX = SizeX.value;
                curObj.SizeY = SizeY.value;
                curObj.SizeZ = SizeZ.value;
                curObj.Zone = Zone.value;
                curObj.Lng = longitude.value;
                curObj.Lat = latitude.value;
                curObj.Comment = Comment.value;
                if (select_image1.files[0]) {
                    curObj.Image1 = select_image1.files[0].name; // res['Image'];
                } if (select_image2.files[0]) {
                    curObj.Image2 = select_image2.files[0].name; // res['Image'];
                }
                break;
        }
        if (curObj.row) {
            curObj.row.getElementsByClassName("identite")[0].innerHTML = '<b>' + curObj.Label + '</b><br> (<i>' + types.getType(curObj.Type, 3).Nomenclature + '</i>)';
            showHideMarkerAndRow(curObj, Category.value, inputSearch.value.toUpperCase());
        } else {
            createMarkerAndRow(curObj);
        }
        updateGeoTableAndFirstID(map.getCenter().lat(), map.getCenter().lng());
    }

    function showTypeDiv() {
        if (SyncWithType.value) {
            setObjectDivWidth(0.5);
        } else {
            setObjectDivWidth(1);
        }
    }

    function resetLayout() {
        useLocation = lastMode;
        setBottomHeight(0);
        setMapWidth(0.6);
    }

    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // hide all elements with class="tabcontent"
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove class "active" of all elements with class="tablinks"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab + add "active" class to the link that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        curObj.marker.setAnimation(tabName == "Locations" ? null : google.maps.Animation.BOUNCE); // Locations => immobilise marker pour affiner sa position
    }

    function setGeoTrack(useLoc = !useLocation) {
        if (!useLoc) {
            if (watchId) {
                navigator.geolocation.clearWatch(watchId);
                watchId = null;
            }
            useLocation = false;
            geoTrackToggle.classList.remove("active");
        }
        else {
            if ('geolocation' in navigator) {
                watchId = navigator.geolocation.watchPosition(appendLocation, errorLocation, { enableHighAccuracy: true });
                useLocation = true;
                geoTrackToggle.classList.add("active");
            } else {
                alert('Geolocation API not supported.');
            }
        }
    }

    ////////////////////////////////////////////// TYPES FUNCTIONS
    function selectType(tr) {
        curType = types_2.find(elem => elem.ID == tr.id);
        typeTablecurRowIdx = tr.rowIndex;
        tr.scrollIntoView();
    }

    function createType(type = 0, binome = null, image = null) {
        return {
            Label: "", Description: "",
            ID: 0,
            Type: type,// default is unknown
            Nomenclature: binome,
            Image1: image
        };
    }

    // mode : 0 = Add, 1 = Edit
    function setAddEditTypeMode(mode, type = 0, label = null) {
        var binome;
        var imgsrc;
        if (label) {
            binome = label.split(" ");
            imgsrc = binome[0] + "_" + binome[1] + ".jpg";
        }

        if (mode === 0) {
            curType = createType(type, label, imgsrc);
        }
        TAction0.value = mode;
        populateAddEditTypeDiv(curType);
        // On adapte le layout
        setTBottomHeight(0.5);
        setLeftWidth(0);
        //  document.getElementById('TDType').style.display = (mode==2?"none":"initial");
        //div_detail.style.display = "none";
        div_addType.style.display = "block"; //USELESS
        div_addType.scrollIntoView(); //USELESS?

    }

    function populateAddEditTypeDiv(typ) {
        // On copie les valeurs du type (nouveau ou à editer) dans les champs du formulaire
        TypeID.value = typ.ID;
        if (typ.Page) {
            frame.src = typ.Page + "#content";
        } else {
            binome = typ.Nomenclature.split(" ");
            frame.src = "https://www.bing.com/search?q=%22" + binome[0] + "+" + binome[1] + "%22";
        }
        TName.value = typ.Label;
        Nomenclature.value = typ.Nomenclature;
        detailT2.value = typ.Type; // .toString();
        TDescr.value = typ.Description;
        Habitat.value = typ.Habitat;
        Alimentation.value = typ.Alimentation;
        Reproduction.value = typ.Reproduction;
        FloDebut.value = typ.Floraison_debut;
        FloFin.value = typ.Floraison_fin;
        TImage.value = typ.Image1;
    }

    function setTBottomHeight(share) {
        div_lower.style.height = share * 100 + "%";
        div_upper.style.height = (1 - share) * 100 + "%";
    }

    function setLeftWidth(share) {
        div_left.style.width = share * 100 + "%";
        div_right.style.width = (1 - share) * 100 + "%";
    }

    function setObjectsWidth(share) {
        div_objects.style.width = share * 100 + "%";
        div_types.style.width = (1 - share) * 100 + "%";
    }

    var types_2;
    function createTypeTable(filterObjects = true) {
        types_2 = types_1[3].filter(function (obj) {
            return isTxSelected(obj.ID, 3);
        });
        document.getElementById("nbTypes").innerHTML = types_2.length + " esp&egrave;ce(s) r&eacute;pertori&eacute;e(s) :";
        var typ1 = 0, typ2 = 0, objID = 0, stateIndex = 0;
        var t = document.getElementById("typeTable"), tr, td;
        if (t.tBodies.length > 0) t.tBodies[0].innerHTML = '';
        types_2.forEach(function (obj) {
            // Lignes de changement de type
            var objTypes = [];
            objTypes[3] = obj; // types.getType(obj.Type, 3);
            for (var i = 2; i > -1; i--) {
                objTypes[i] = types.getType(objTypes[i + 1].Type, i, i);
            }
            if (objTypes[2].ID !== typ2) { // CHANGEMENT DE T2 (FAMILLE)
                if (objTypes[1].ID !== typ1) {  // CHANGEMENT DE T1
                    tr = t.insertRow();
                    td = tr.insertCell();
                    td.classList.add('T0L'); td.colSpan = 7;
                    td.innerHTML = objTypes[0].Label + " : " + objTypes[1].Label;
                    typ1 = objTypes[1].ID;
                }
                tr = t.insertRow();
                td = tr.insertCell();
                td.classList.add('T1L'); td.colSpan = 7; td.innerHTML = objTypes[2].Label;
                typ2 = objTypes[2].ID;
            }
            // Nouvel Item
            // IMPROVE : factoriser la création d'images
            //stateIndex = 0;
            var tr2 = t.insertRow();
            tr2.id = obj.ID;
            tr2.onclick = function () {
                selectType(tr2);
                setAddEditTypeMode(1);
            };
            tr2.ondblclick = function () {
                selectType(tr2);
                setAddEditTypeMode(0);
            };
            //td = tr.insertCell(); td.classList.add('TypeL');
            td2 = tr2.insertCell(-1); td2.classList.add('image');
            d1 = td2.appendChild(document.createElement("DIV"));
            d2 = td2.appendChild(document.createElement("DIV"));
            d1.classList.add('lr-container');
            if ((img_src = obj['Image1']) || (img_src = obj.Image2)) {
                img = d2.appendChild(document.createElement("IMG"));
                img.height = 250; //NEXT: CSS
                img.align = "center";
                img.src = '/static/images/' + img_src;
            }
            text1 = objTypes[3].Label;
            if (text1 != (text2 = objTypes[3].Nomenclature)) {
                text2 = "<i>" + text2 + "</i>";
            } else {
                text2 = "";
            }
            if (obj.Page) {
                text1 = "<a href='" + obj.Page + "' target=\'_blank'><b>" + text1 + "</b></a>";
            }
            text1 += text2 ? "<br>" + text2 : "";
            text1 += "<br>" + obj.Date_Implantation;

            d1.innerHTML = text1;

            td = tr2.insertCell(-1); td.classList.add('long_text'); td.innerHTML = obj.Description;
            td = tr2.insertCell(-1); td.classList.add('long_text'); td.innerHTML = obj.Habitat;
            objID = obj.ID;
        });
        typeTablecurRowIdx = 0;
        selectPrevNextVisibleItem(typeTable, typeTablecurRowIdx, true, true);
        // On applique le filtrage à la liste des objets (div_objects panel)
        filterObjects && filterMarkersAndTable();
    }

    // Si la MAJ de la db est OK, on reporte les modifs en mémoire (évite de refaire le SELECT)
    // IMPROVE : champs d'imputs : obj['ID'], options[0] pour updteIMage / newState...
    function updateLocalTypeAndUI(res) {
        switch (TAction0.value) {
            case "0":
                curType.ID = res['ObjID'];
                types_2.push(curType);
            case "1":
                curType.Label = TName.value;
                curType.Nomenclature = Nomenclature.value;
                curType.Type = parseInt(detailT2.value);
                curType.Description = TDescr.value;
                curType.Habitat = Habitat.value;
                curType.Alimentation = Alimentation.value;
                curType.Reproduction = Reproduction.value;
                curType.Floraison_debut = FloDebut.value;
                curType.Floraison_fin = FloFin.value;
                if (UpdateImage.checked) {
                    curType.Image = res['Image'];
                }
                if (curType.row) {
                    curType.row.getElementsByClassName("identite")[0].innerHTML = '<b>' + curType.Label + '</b><br> (<i>' + types.getType(curType.Type, 3).Nomenclature + '</i>)';
                    //showHideMarkerAndRow(curType.item, getRadioVal(categories), inputSearch.value.toUpperCase());
                }
        }
    }

    function cancelAddEditType() {
        div_addType.style.display = "none";
        setTBottomHeight(0);
        setLeftWidth(1);
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG5tIQ_TitjIwxYXB9R8k39coKkRPkm84&callback=loadMap&libraries=drawing">
</script>
{% endblock %}
