{% extends "layout.html" %}
{% block main %}
  <header>
    <img src="{{ url_for('static', filename='images/fond2.jpg') }}" alt="">
  </header>
  <main>
      <div id="welcome">
        <h2>RECOFISH</h2>
        <span style="font-weight:700;">Bienvenue !</span>
        <p>A partir d’une photo d’un poisson marin des côtes françaises ou de l’étal du poissonnier, Recofish vous permet de l’identifier et de mieux connaître :<p>
        <ul class="home">
            <li>Sa biologie et l’état de santé de l’espèce
            <li>La règlementation sur sa pêche
            <li>Les pratiques de pêche la concernant
      </ul>
      </div>
      <div id="capture">
          <form name="classify" method="POST" enctype="multipart/form-data" action="/classify">
              <label for='select_image' style="width:250px;">
              <i class="glyphicon glyphicon-camera" style="font-size:60px;color:#0AB2DE;text-shadow:2px 2px 4px #000000;"></i>
              </label>
              <input type="file" style='display:none;' name='image' id='select_image' accept="image/x-png,image/jpeg,image/gif" capture="environment" onChange='document.classify.submit();'/>
<!--              <input type=submit value='Soumettre 1 image'> -->
          </form>
      </div>
  </main>
  <footer>
    <button id="btnAdd">Install App</button>
  </footer>
{% endblock %}
{% block scripts %}
<script>

cameraTrigger.onclick = function() {
    cameraSensor.width = cameraView.videoWidth;
    cameraSensor.height = cameraView.videoHeight;
    cameraSensor.getContext("2d").drawImage(cameraView, 0, 0);
    cameraOutput.src = cameraSensor.toDataURL("image/webp");
    cameraOutput.classList.add("taken");
};
function callProcessImage(fileInput, previewID) {
    processSingleImage(fileInput, previewID);
}

function upload(): Promise<void> {
    return new Promise<void>(async (resolve, reject) => {
        const filePicker = document.querySelector('input');

        if (!filePicker || !filePicker.files
            || filePicker.files.length <= 0) {
            reject('No file selected.');
            return;
        }
        const myFile = filePicker.files[0];
        console.log(myFile);

        resolve();
    });
}
</script>
{% endblock %}
