{% extends "base.html" %}
{% block body %}
<header>

<ul class="topnav" id="myTopnav">
  <li class="nav"><a href="/" class="active"><i class="fa fa-home i-nav"></i></a></li>
  <li style="float:right"><a href="https://dataforgood.fr/"><img class="nav-logo" src="{{ url_for('static', filename='images/D4Glogo_64.png') }}"></a></li>
  <li style="float:right"><img class="nav-logo" src="{{ url_for('static', filename='images/logo_SEA_64.png') }}"></li>
</ul>
</header>

<main>
  {% block main %}{% endblock %}
</main>

<footer>
  <p>available on <a href="https://github.com/egoetz-zz/recofish-demoapp" target="_blank" rel="noopener">GitHub</a></p>
</footer>
<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
{% endblock %}
