{% extends "layout.html" %}
{% block main %}
<div class = "second-main" style = "height: 100%; width : 100%;">
    <div class = "header">
        <div class="row" style = "width: 100% ; display: flex; justify-content: center;">
            <h3 class="header-text">Uploaded Image</h3>
        </div>
        <div class="row" style = "width: 100% ; display: flex; justify-content: center;">
            <img class = "result-img" src={{url_for('static', filename = 'images/'+ img)}}>
        </div>
    </div>

    <div class = "info">
        <div class="row" style = "width: 100% ; display: flex; justify-content: center;">
            <h3 class = "header-text">Model Prediction</h3>
        </div>
        <form action="/species">
            <div class="row" style = "width: 100%; display: flex; justify-content: center;">
                <table class="table-bordered text-light table-custom">
                    <tr>
                        <td><img src="{{predictions.img11}}" alt="{{predictions.img11}}"></td>
                        <td><img src="{{predictions.img12}}" alt="{{predictions.img12}}"></td>
                    </tr>
                    <tr>
                        <td style = "width: 25%;"><input type="text" value="<i>{{ predictions.ns1 }}</i><br> {{ predictions.nc1}}" disabled></td>
                        <td style = "width: 50%;">{{ predictions.prob1 }} %</td>
                        <td><input type="submit" value="Valider" ></td>
                      </tr>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}
