{% extends "layout.html" %}
{% block main %}
<div class = "second-main" style = "height: 100%; width : 100%;">
    <div class = "info">
        <div class="row" style = "width: 100% ; display: flex; justify-content: center;">
            <h3 class = "header-text">Model Prediction</h3>
        </div>
        <form id="sp1" name="sp1" action="/species">
            <div class="row" style = "width: 100%; display: flex; justify-content: center;">
                <table class="table-bordered text-light table-custom">
                    <tr>
                        <td><img src="{{url_for('static', filename = predictions.img11)}}" alt="{{predictions.img11}}"></td>
                        <td><img src="{{url_for('static', filename = predictions.img12)}}" alt="{{predictions.img12}}"></td>
                    </tr>
                    <tr>
                        <td style = "width: 25%;">
                            <input type="text" value="{{ predictions.ns1 }}" hidden>
                            <i>{{ predictions.ns1 }}</i><br> {{ predictions.nc1}}
                        </td>
                        <td style = "width: 50%;">{{ predictions.prob1 }} %</td>
                        <td><input type="submit" value="Valider" ></td>
                      </tr>
                </table>
            </div>
        </form>
        <form id="sp2" name="sp2" action="/species">
            <div class="row" style = "width: 100%; display: flex; justify-content: center;">
                <table class="table-bordered text-light table-custom">
                    <tr>
                        <td><img src="{{url_for('static', filename = predictions.img21)}}" alt="{{predictions.img21}}"></td>
                        <td><img src="{{url_for('static', filename = predictions.img22)}}" alt="{{predictions.img22}}"></td>
                    </tr>
                    <tr>
                        <td style = "width: 25%;">
                            <input type="text" value="{{ predictions.ns2 }}" hidden>
                            <i>{{ predictions.ns2 }}</i><br> {{ predictions.nc2}}
                        </td>
                        <td style = "width: 50%;">{{ predictions.prob2 }} %</td>
                        <td><input type="submit" value="Valider" ></td>
                      </tr>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}
